{{/* Clickable Featurette tiles */}}
{{ $ := .root }}
{{ $page := .page }}

<div class="row justify-content-center">
  {{ range $page.Params.feature }}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = $pack }}
    {{ end }}
    {{ $href := .link | default "" }}

    <div class="col-12 col-sm-6 col-lg-3 mb-4">
      {{ if $href }}<a href="{{ $href | relURL }}" class="d-block text-center text-reset featurette-tile">{{ end }}
        <div class="featurette text-center">
          {{ if .icon }}
            <div class="featurette-icon mb-2">
              <i class="{{ $pack_prefix }} fa-{{ .icon }}"></i>
            </div>
          {{ end }}
          <h3 class="mb-0">{{ .name | markdownify | emojify }}</h3>
          {{ with .description }}<p class="mt-2 mb-0">{{ . | markdownify | emojify }}</p>{{ end }}
        </div>
      {{ if $href }}</a>{{ end }}
