<ul class="network-icon" aria-hidden="true">
  {{ range .Params.social }}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    {{ $link := .link }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
      {{ $link = .link | relLangURL }}
    {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <li>
      {{ if $icon == 'envelope' }}
        <a href="#" onclick="u='laura.kinkead'; d='uzh.ch'; prompt('Copy address to clipboard',u+'@'+d); return false">Send email</a>
      {{ else }}
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
      {{ end }}

        <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
      </a>
    </li>
  {{end}}
</ul>
